h1{color: #6C5555;}
h1{background-color: #E5C5D0;}


h2{color: #6C5555;}
h3{color: #6C5555;}

h4{color: #6C5555;}
h4{background-color: #E5C5D0;}

body{color: #301c1c;}
body{background-color: #f8eef1;}

