body{color: #301c1c;
    font-size: 20px;
    background-color: #ffffff;
    font-family: Arial, sans-serif;}
header{background-color: #6C5555;
    padding: 30px 200px 50px 200px;
margin: 0px 100px 0px 100px ;}

h1  {color: #6C5555; 
    font-size: 45px;
    padding: 50px 300px 50px 0px;
    
font-weight: 800;
text-align: right;
margin: 0px;
text-shadow: 0 3px 3px  #301c1c;}

.Tereza{padding: 110px 150px;
    background-image: url(flower-g308d907ac_640.jpg);
    background-size:contain;
background-repeat: no-repeat;
background-position: right;}




h2{color: #E5C5D0;
    font-size: 30px;
font-weight: 600;
font-style: italic;
text-align: right;}

h3{color: #6C5555;
    background-color: hsl(339, 38%, 84%);
    font-size: 30px;
font-weight: 700;
text-align: center;}

.Kontakt {text-align: center;
line-height:2;}

h4{color: #6C5555;
    background-color: #E5C5D0;
padding-left: 50px;
font-size: 20px;}



    p {line-height: 1.8;
    padding-left: 10px;}
ul {line-height: 1.5;}
a{font-style: italic;
color: rgb(94, 7, 7);}

footer{background-color: 
    #6C5555;
    color: #E5C5D0;
text-align: center;
padding: 15px 200px 15px 200px;
margin: 0px 100px 0px 100px }


.Pracovnizkusenosti{background-color:#6C5555;
    color:#E5C5D0 ;}
.Lekarskezkusenosti{background-color:#6C5555;color: #E5C5D0;}

.Foto{width: 300px;
border: 7px solid #E5C5D0;
border-radius: 150px;}

section{padding: 0px 200px 20px 200px;
    margin: 0px 100px 0px 100px }

img {float: left;
    margin-right: 70px;}

.Osobni {text-align: center;}

.Menu {margin:0;
padding: 0;
text-align: center;
color: #E5C5D0;
background-color: #ffffff;
}
.Menu li{display:inline-block ;}

.Menu a{display:inline-block;
    font-style: normal;
    color: #6C5555;
    font-size: 20px;
    font-weight: 700;
text-decoration: none;
padding: 20px 30px;}

a:hover {color: #E5C5D0;}
